<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>engine-tools</title>
    {{#production}}
    <link href="index.min.css" rel="stylesheet">
    <script src="index.min.js"></script>
    {{/production}}
    {{^production}}
    <link href="index.css" rel="stylesheet">
    <script src="index.js"></script>
    {{/production}}
  </head>

  <body ng-app="engine-tools" ng-controller="PathController as path">
    <main>
      <p>
        <canvas app-path value="path.value" time="path.time"></canvas>
      </p>

      <form>
        <div class="input-group">
          <label>t</label>
          <input type="number" ng-model="path.getSelected().t">
        </div>

        <div class="input-group">
          <label>x</label>
          <input type="number" ng-model="path.getSelected().x">
        </div>

        <div class="input-group">
          <label>y</label>
          <input type="number" ng-model="path.getSelected().y">
        </div>

        <div class="input-group">
          <label>dx</label>
          <input type="number" ng-model="path.getSelected().dx">
        </div>

        <div class="input-group">
          <label>dy</label>
          <input type="number" ng-model="path.getSelected().dy">
        </div>

        <div class="input-group">
          <input type="checkbox" ng-model="path.getSelected().absolute" ng-change="path.doToggleAbsolute()">
          <label>Absolute</label>
          <input type="checkbox" ng-model=path.getSelected().linear>
          <label>Linear</label>
        </div>

        <div class="action-group">
          <button type="button" ng-click="path.doPreview()">Preview</button>
          <button type="button" ng-click="path.doRemove()">Remove</button>
          <button type="button" ng-click="path.doClear()">Clear</button>
        </div>

        <div class="input-group input-group-large">
          <label>Import</label>
          <input type="file" ng-model="path.file" ng-change="path.doImport()" app-file>
        </div>

        <div class="input-group input-group-large">
          <button type="button" ng-click="path.doExport()">Export</button>
          <input type="text" ng-model="path.fileName">
        </div>
      </form>
    </main>
  </body>
</html>
