body {
  color: #F8F8F8;
  background: #282828;
  font-family: sans-serif;
  margin: 0;
}

main {
  width: 30em;
  margin: 0 auto;
  text-align: center;
}

.input-group {
  width: 208px;
  margin: 0.5em auto;
  // text-align: left;
}

.input-group-large {
  width: 100%;
}

.input-group label {
  display: inline-block;
  width: 10%;
  text-align: right;
}

.input-group input {
  display: inline-block;
  width: 80%;
}
.input-group input[type="checkbox"] {
  display: inline-block;
  width: 10%;
}

.input-group input[type="checkbox"] + label {
  width: 30%;
  text-align: left;
}
