body {
  color: #F8F8F8;
  background: #282828;
  font-family: sans-serif;
  margin: 0;
}

main {
  width: 30em;
  margin: 0 auto;
  text-align: center;
}

form {
  width: 208px;
  margin: auto;
}

.input-group {
  width: 100%;
  margin: 0.5em 0;
  // text-align: left;
}

.input-group label {
  display: inline-block;
  width: 10%;
  text-align: right;
}

.input-group input {
  display: inline-block;
  width: 80%;
}
